bin/
build/
config.yml
.env
*.log
vendor/
go.sum
.vscode/
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db
*cmd/tmp/
*tmp/

# Directorio binario
/bin/
# Binarios compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test