<!DOCTYPE html>
<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 5px;
        text-align: left;
      }
      .centered-cell {
            text-align: center;
            vertical-align: middle;
        }
    </style>
  </head>
  <body>
    <h3>{{ getCurrentDateTime }}</h3>
    <table style="width: 100%">
      <tr>
        <td rowspan="4" class="centered-cell"><img src="https://i.postimg.cc/nrBf4PDY/dar.png" alt="cer" width="200" height="80" /></td>
        <td colspan="2">Mision "San diego - la Ensenada"</td> 
      </tr>
      <tr>
        <td>Ficha</td>
        <td>{{ .NumberFile }}</td>
      </tr>
      <tr>
        <td>Registro</td>
        <td>{{ .PersonalInformation.NumberIdentification}}</td>
      </tr>
      <tr>
        <td>Estado</td>
        <td>{{ .Estate }}</td>
      </tr>
    </table>

    <br>

    <table style="width: 100%">
      <tr>
        <td>Registro:</td>
        <td>{{ .PersonalInformation.NumberIdentification}}</td>
        <td>Paciente:</td>
        <td>{{ concat .PersonalInformation.Name " " .PersonalInformation.LastName }}</td>
        <td>Edad:</td>
        <td>{{ calculateAge .PersonalInformation.BirthDate }}</td>
      </tr>
      <tr>
        <td>Direccion:</td>
        <td colspan="5">X</td>
      </tr>
      <tr>
        <td>Referencia:</td>
        <td colspan="5">{{ .Location.Reference }}</td>
      </tr>
      <tr>
        <td>Distrito:</td>
        <td>{{ .Location.District }}</td>
        <td>Provincia:</td>
        <td>{{ .Location.Province }}</td>
        <td>Departamento:</td>
        <td>{{ .Location.Department }}</td>
      </tr>
      <tr>
        <td>DNI:</td>
        <td>{{ .PersonalInformation.NumberIdentification}}</td>
        <td>Fecha de nacimiento:</td>
        <td>{{ parseDate .PersonalInformation.BirthDate }}</td>
        <td>Telefono 01:</td>
        <td>{{ .PersonalInformation.FirstNumberPhone }}</td>
      </tr>
      <tr>
        <td colspan="6">Areas: {{ concatenateSpecialtiesLabels .Cita.Specialties }}</td>
      </tr>
      <tr>
        <td>Ficha:</td>
        <td>{{ .NumberFile }}</td>
        <td>Fecha:</td>
        <td>{{ getCurrentDateTime }}</td>
        <td>Cert. medico:</td>
        <td>{{booleanToString .Question.QuestionExamRecent}}</td>
      </tr>
    </table>
    
    <table style="width:100%">
      <tr>
        <td colspan="3" style="border-top: 1px solid black; border-bottom: none;">
          Declaro a todos los efectos que estoy de acuerdo con todos los servicios
          en los que participare y que autorizo el uso de mi imagen (en fotografia o
          video) en la publicidad del trabajo realizado por la entidad, sin carga
          alguna para esta.
        </td>
      </tr>
      <tr>
        <td style="border: none;">Fecha: {{ getCurrentDateTime }}</td>
        <td style="border: none;">Nombre: {{ concat .PersonalInformation.Name " " .PersonalInformation.LastName }}</td>
        <td style="border: none;">Firma:     ______________________</td>
        <br>
      </tr>
    </table>
    
    <br>

    <table style="width: 100%" >
      <tr>
        <td colspan="5" style="border-top: 1px solid black; border-bottom: none;">A completar por los profesionales:</td>
      </tr>
      <tr>
        <td style="border: none;">Peso:</td>
        <td style="border: none;">Altura:</td>
        <td style="border: none;">P.A.:</td>
        <td style="border: none;">Temperatura:</td>
        <td style="border: none;">Horario:</td>
      </tr>
    </table>

    <br>

    <table style="width: 100%">
      <tr>
        <td colspan="2" style="border: none;">A completar por lo profesionales : </td>
      </tr>
      <tr>
        <td style="border-bottom: none; border-top: none;">Observaiones/Reenvio : __________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________<br>
          </td>
      </tr>
      
      <tr>
        <td style="border-bottom: none; border-top: none;">Procedimineto:_________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
          ____________________________________________________________________________________________________________
        </td>
      </tr>
      
    </table>

    <br>
    <table style="width: 100%">
      <tr>
        <td><br><br><br>Res. Area 1</td>
        <td><br><br><br>Res. Area 2</td>
        <td><br><br><br>Res. Area 3</td>
      </tr>
      <tr>
        <td><br><br><br>Res. Area 4</td>
        <td><br><br><br>Res. Area 5</td>
        <td><br><br><br>Res. Area 6</td>
      </tr>
    </table>
  </body>
</html>
